<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="AboutUs.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>

    <nav>
        <img src="/images/footerlogo.png">
        <ul>
            <li><a href="/frameyourmemories">Home</a></li>
            <li><a href="/businessinterface1">Bussiness</a></li>
            <li><a href="/mypage2">Customer</a></li>
            <li><a href="/aboutus">AboutUs</a></li>
            <li><a href="/contactus">ContactUs</a></li>
        </ul>
    </nav>
    
<div class="aboutmain" style="margin-top: 50px;">
    <div class="about" >
        <div>
            <div class="detel ">
                <h1>Hey I'm N <span>Suhas</span></h1>
                <p>I am an Under Graduate in IIITSricity, currently working on<br> <b><span>FYM</span></b> Data Management </p>

                <div class="pagelinks">
                    <h2 style="color:white">
                    Official Page Links: 
                    </h2>
                </div>
            </div>
            
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-reddit"></i></a>
            </div>
        </div>
        <div>
            <div class="images" >
                
                    <img src="/images/shape.png" class="shape">
                    <img src="/images/profileabout.png" class="girl">
                
        </div>
    </div>
    </div>
    <div class="about" >
        <div>
            <div class="detel ">
                <h1>Hey I'm Reddi <span>Devi</span></h1>
                <p>I am an Under Graduate in IIITSricity, currently working on<br> <b><span>FYM</span></b> Data Management</p>
                <div class="pagelinks">
                    <h2 style="color:white">
                    Official Page Links: 
                    </h2>
                </div>
            </div>
            
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-reddit"></i></a>
            </div>
        </div>
        <div>
            <div class="images" >
                <img src="/images/shape.png" class="shape">
                <img src="/images/profileabout.png" class="girl">
            </div>
        </div>
    </div>

    <div class="about" >
        <div>
            <div class="detel ">
                <h1>Hey I'm K <span>Praghna</span></h1>
                <p>I am an Under Graduate in IIITSricity, currently working on<br> <b><span>FYM</span></b> UI Design </p>

                
                <div class="pagelinks">
                    <h2 style="color:white">
                    Official Page Links: 
                    </h2>
                </div>
            </div>
            
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-reddit"></i></a>
            </div>
        </div>
        <div>
            <div class="images" >
                <img src="/images/shape.png" class="shape">
                <img src="/images/profileabout.png" class="girl">
            </div>
        </div>
    </div>


    <div class="about" >
        <div>
            <div class="detel ">
                <h1>Hey I'm <span>Tejeswar</span></h1>
                <p>I am an Under Graduate in IIITSricity, currently working on<br> <b><span>FYM</span></b> UI design.</p>
                <div class="pagelinks">
                    <h2 style="color:white">
                    Official Page Links: 
                    </h2>
                </div>
            </div>
            
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-reddit"></i></a>
            </div>
        </div>
        <div>
            <div class="images" >
                <img src="/images/shape.png" class="shape">
                <img src="/images/profileabout.png" class="girl">
            </div>
        </div>
    </div>

    <div class="about" >
        <div>
            <div class="detel ">
                <h1>Hey I'm S <span>Tejas</span></h1>
                <p>I am an Under Graduate in IIITSricity, currently working on<br> <b><span>FYM</span></b> UI design. </p>
                <div class="pagelinks">
                    <h2 style="color:white">
                    Official Page Links: 
                    </h2>
                </div>
            </div>
            
            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-reddit"></i></a>
            </div>
        </div>
        <div>
            <div class="images" >
                <img src="/images/shape.png" class="shape">
                <img src="/images/profileabout.png" class="girl">
            </div>
        </div>
    </div>
</div>

<div class="eventmatter">
    <p>
        <i style="color:palevioletred" class="fa-solid fa-quote-left"></i><h2 style="color:palevioletred">Event Planning</h2> consists of coordinating every detail of meetings and conventions, from the speakers and meeting location to arranging for printed materials and audio-visual equipment.
Event planning begins with determining the objective that the sponsoring organization wants to achieve. Planners choose speakers, entertainment, and content, and arrange the program to present the organization's information in the most effective way. Meeting planners are responsible for selecting meeting sites, prospective attendees and how to get them to the meeting.
    </p>
</div>

<div class="wish">
    <p>- <span>Best Wishes</span> from team <span>FYM</span> -</p>
</div>
</body>
</html>