<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="signuplogin.css">
</head>
<body>
    <h1 style="color: darkslategrey;">Business SignUp/Login </h1>

<p style="color: red;" class="accountexsist"><%= alreadyexsists %></p>
<p style="color: red;" class="wrongPassword"><%= wrongPassword%></p>
<div data-id="box1"  class="maincontain">
	<div class="subcont"> 
		<div class="acontent" style="z-index: 1;" data-id="box1"  id="box-1">
			<form action="/businesslogindetails" onsubmit="return loginvalidation()" method="post">
				<h1 style="font-size: 40px;">Login</h1>
				<input type="email" placeholder="Email" name="myMail" required/>
				<input type="password" placeholder="Password"  name="myPassword" minlength="6" required/>
				<a style="color: darkslategrey;text-decoration: none;" href="#">Forgot your password?</a>
				
				<button type="submit">Login</button>
			</form>
		</div>
		<div class="acontent" style="opacity: 0;" data-id="box2" id="box-2">
			
		<form onsubmit="return signupvalidation()" action="/businesssignupdetails" method="post">
			<h1>Create Account</h1>
			<input type="text" placeholder="Name" name="myName" required/>
			
			<input type="email" placeholder="Email"  name="myMail" required/>
			<input type="password" minlength="6" placeholder="Password" name="myPassword" required/>
			<button type="submit">Sign Up</button>
		</form>
			
		</div>
	</div>

	<div  class="photobtn">
		<div data-id="box1" class="btnss" id="box-3">
			<button data-id="box1" >login</button>
		</div>
		<div data-id="box2"  class="btnss" id="box-4">
			<button data-id="box2" >Sign Up</button>
		</div>
	</div>
	
</div>
<script src="signuplogin.js"></script>

</body>
</html>