<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Interface 1</title>
    <link rel="stylesheet" href="businessinterface1.css">
</head>
<body>
    <div class="maincon">
        <header>
            <div class="mainheader">
                <div style="font-size: 1.5rem;" class="box1">
                    <a style="text-decoration: none;color: white;" href="/frameyourmemories">FRAME YOUR MEMORIES</a>
                </div>
                <div class="box2">
                    <ul>
                        <li><a href="" style="text-transform: uppercase;"><% if(user){ %>
                            Welcome <%=user %> 
                        <% } %>
                        </a></li>
                        <li><a href="/businessinterface2">CATEGORY</a></li>
                        <!-- <li><a href="#">SERVICES</a></li> -->
                        <li><a href="/businessallproducts">PRODUCTS</a></li>
                        <li><a href="/businesslocation">LOCATIONS</a></li>
                        <li><a href="/businessorders">ORDERS</a></li>
                        <li ><a href="/businesslogout">LOG OUT</a></li>
                        
                        
                    </ul>
                </div>
            </div>
        </header>
        <div class="content">
            <P>NEVER DEMAND</P>
            <P>SUCCESS</P>
            <P>JUST WORK FOR IT</P>
            <a  href="/businessinterface2"><button>EXPLORE</button></a>
        </div>
    </div>

</body>
</html>