<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Another</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    <link rel="stylesheet" href="customerinterface1.css">
</head>
<body>

  <div class="header">
    <!-- <a href="#"><i class="fa-solid fa-arrow-left"></i></a> -->
    <!-- <img src="logos/headerlogo.png"> -->
    <span style="color:white">Frame Your Memories</span>
    <a href="/mypage2"><i class="fa-solid fa-user"></i></a>
</div>

    <div class="surround">
        <div class="name">
            <span>Explore Events</span>
            <span><a href="/customerinterface2/event">Explore More..</a></span>
        </div>
        <div class="eventscontainer">
            <div class="container">
                <input type="radio" name="dot" id="one">
                <input type="radio" name="dot" id="two">
                <div class="main-card"> 
                  <div class="cards">
                    <div class="card">
                     
                        <img src="/images/anniversary.jpg"alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Anniversary</div>
                        </div>
                     
                    </div>
                    <div class="card">
                        <img src="/images/birthday.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Birthdays!</div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/bridalshower.png" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Bridal Shower</div>
                        </div>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="card">
                        <img src="/images/wedding.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Weddimg</div>
                        </div>
                        </div>
                    
                    <div class="card">
                        <img src="/images/party.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Parties</div>
                        </div>
                    </div>
                    <!-- <div class="card explore" >
                    Explore
                    </div> -->
                    <a href="/customerinterface2/event" class="card explore">Explore More..</a>
                  </div>
                </div>
                <!-- </div> -->
                <div class="button">
                  <label for="one" class=" active one"></label>
                  <label for="two" class="two"></label>
                </div> 
              </div>
        </div>    
    </div>
        
    <div class="surround">
      <div class="name">
        <span>Explore Food</span>
        <span><a href="/customerinterface2/food">Explore  More..</a></span>
    </div>
        <div class="foodcontainer">
            <div class="container">
                <input type="radio" name="dot1" id="one1">
                <input type="radio" name="dot1" id="two1">
                <div class="main-card1">
                  <div class="cards">
                    <div class="card">
                     
                        <img src="/images/hyderabadi.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Hyderabadi</div>
                        </div>
                     
                    </div>
                    <div class="card">
                        <img src="/images/south indian.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">South Indian</div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/north indian.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">North Indian Style</div>
                        </div>
                    </div>
                  </div>
                  <div class="cards">

                    <div class="card">
                        <img src="/images/chinese american cuisine.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Chinese-American cuisine</div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img src="/images/filipino american cuisine.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Fillipino-American cuisine</div>
                        </div>
                    </div>
                    <a href="/customerinterface2/food">Explore More..</a>
                  </div>
                </div>
                <div class="button">
                  <label for="one1" class=" active one"></label>
                  <label for="two1" class="two"></label>
                </div>
              </div>
        </div>
    
    </div>
    <div class="surround">
      <div class="name">
        <span> Explore Photography</span>
        <span><a href="/customerinterface2/photo">Explore More..</a></span>
    </div>
        <div class="photographycontainer">
            <div class="container">
                <input type="radio" name="dot2" id="one2">
                <input type="radio" name="dot2" id="two2">
                <div class="main-card2">
                  <div class="cards">
                    <div class="card">
                     
                        <img src="/images/wedding photography.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Wedding Photography</div>
                        </div>
                     
                    </div>
                    <div class="card">
                        <img src="/images/sports photography.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Sports Photography</div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/filming.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Filming</div>
                        </div>
                    </div>
                  </div>
                  <div class="cards">
                    <div class="card">
                        <img src="/images/documentary photography.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Documentary</div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img src="/images/fashion photography.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Fashion Photography</div>
                        </div>
                    </div>
                    <a href="/customerinterface2/photo">Explore More..</a>
                  </div>
                </div>
                <div class="button">
                  <label for="one2" class=" active one"></label>
                  <label for="two2" class="two"></label>
                </div>
              </div>
        </div>
    
    </div>

    <div style="display: flex;justify-content: center;align-items: center;"><div><img src="/images/navbar2.png"class="logo" width="20%"></div></div>

    <!-- footer -->

    <div class="footer">
      <div class="row">
          <div class="col">
              <img src="/images/footerlogo.png"class="logo">
              <p>-Give Your Guest A Reason To Stay</p>
          </div>
          <div class="col">
              <h2>Information</h2><br>
              <a href="#"><b>FAQs</b></a><br>
              <a href="#"><b>Careers</b></a><br>
              <a href="#"><b>Security</b></a>
          </div>
          <div class="col">
              <h2>Connect with Us</h2><br>
                  <a href="#"><b>Help</b></a><br>
                  <a href="#"><b>Contact Us</b></a>
          </div>
          <div class="col">
              <h2>Company</h2><br>
              <a href="#"><b>Our Story</b></a><br>
              <a href="#"><b>Terms and Conditions</b></a><br>
              <a href="#"><b>Become a Wholesaler</b></a><br>
              <a href="#"><b>Privacy Policy</b></a><br>
          </div>
          <div class="col">
              <h2>Office</h2><br>
              <p>NH-5 road,near ISUZU</p>
              <p>Sricity, Chittor</p>
              <p>AndhraPradesh, PIN 524366, India</p>
              <h4>+91 0000000000</h4>
              <p class="email">example@gmail.com</p>
          </div>
  
          
          <div class="col" id="connect">
              <div class="social-icons">
                  <a href="https://www.gmail.com"><i class="fa-solid fa-envelope"></i></a>
                  <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://www.instagram.com/accounts/login/"><i class="fa-brands fa-square-instagram"></i></a>
                  <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                  <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
              </div>
          </div>
      </div>
      <hr>
      <p>&copy</p>
  </div>
</body>
</html>