<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="final-home.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    
</head>
<body style="overflow-x: hidden;">
    <div class="hero">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="/images/background_video.mp4" type="video/mp4">
        </video>
<nav>
    <h1 class="logo">Frame Your Memories</h1>
    <!-- <img src="logos/final4.png" class="logo"> -->
    <ul>
        
        <li><a href="/frameyourmemories">Home</a></li>
        <li><a href="/businessinterface1">Bussiness</a></li>
        <li><a href="/customerinterface1">Customer</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/contactus">Contact-Us</a></li>
        <li><a href="/Admindashboard">Admin</a></li>
    </ul>
</nav>

<div class="name">
    <h1>Frame Your Memories</h1>
    <a href="#homecontent">Explore</a> 
</div>
</div>

<div class="flex1" id="homecontent">

    <div class="info"><img src="/images/home_wedding2.png" alt="Image" ></div>
    <div class="info">
        <h1 ><i style="color:yellow" class="fa-solid fa-quote-left"></i>WEDDING</h1>
        <p><b>Event Planning is what we do.Our team will help you to create wonderful memories.Make your event the best day ever..</b><i style="color:yellow"class="fa-solid fa-quote-right"></i></p>
      </div> 

      <div class="info">
        <h1><i style="color:chocolate" class="fa-solid fa-quote-left"></i>PHOTOGRAPHY</h1>
        <p><b>More Than Just Event Planning,Our team will help you to capture all your timeless memories.After all Fond Memories Are Treasures That Will Last A Lifetime.</b><i style="color:chocolate"class="fa-solid fa-quote-right"></i></p>
      </div> 
      <div class="info"><img src="/images/home_photography2.png" alt="Image"></div>
            
      <div class="info"><img src="/images/home_food2.png" alt="Image"></div>
            <div class="info">
                <h1><i style="color:brown" class="fa-solid fa-quote-left"></i>FOOD</h1>
                <p><b>Let your guests enjoy your event with some delicious recepies! To live a full life, you have to fill your stomach first.</b><i style="color:brown"class="fa-solid fa-quote-right"></i></p>
              </div>
              
              <div class="info"  >
                <h1><i style="color:grey" class="fa-solid fa-quote-left"></i>PARTY</h1>
                <p><b>"It's party time.This is your moment so just feel alive and till the music is gone, let's party on.</b><i style="color:grey"class="fa-solid fa-quote-right"></i></p>
              </div>  

              <div class="info"><img src="/images/home_party2.png" alt="Image"></div>

              <div class="info"><img src="/images/home_gifts.png" alt="Image"></div>

            <div class="info">
                <h1><i style="color:palegreen" class="fa-solid fa-quote-left"></i>GIFTS</h1>
                <p><b>No event is complete without some exciting gifts.Our team is also providing some cool gifts to make your loved ones smile.</b><i style="color:palegreen"class="fa-solid fa-quote-right"></i></p>
              </div>
              

</div>

<!-- footer -->

<div class="footer">
    <div class="row">
        <div class="col">
            <img src="/images/footerlogo.png"class="logo">
            <p>-Give Your Guest A Reason To Stay</p>
        </div>
        <div class="col">
            <h2>Information</h2><br>
            <a href="#"><b>FAQs</b></a><br>
            <a href="#"><b>Careers</b></a><br>
            <a href="#"><b>Security</b></a>
        </div>
        <div class="col">
            <h2>Connect with Us</h2><br>
                <a href="/help_center"><b>Help</b></a><br>
                <a href="/contactus"><b>Contact Us</b></a>
        </div>
        <div class="col">
            <h2>Company</h2><br>
            <a href="#"><b>Our Story</b></a><br>
            <a href="#"><b>Terms and Conditions</b></a><br>
            <a href="#"><b>Become a Wholesaler</b></a><br>
            <a href="#"><b>Privacy Policy</b></a><br>
        </div>
        <div class="col">
            <h2>Office</h2><br>
            <p>NH-5 road,near ISUZU</p>
            <p>Sricity, Chittor</p>
            <p>AndhraPradesh, PIN 524366, India</p>
            <h4>+91 0000000000</h4>
            <p class="email">example@gmail.com</p>
        </div>

        
        <div class="col" id="connect">
            <div class="social-icons">
                <a href="https://www.gmail.com"><i class="fa-solid fa-envelope"></i></a>
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/accounts/login/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <p>&copy</p>
</div>

<script>
    window.addEventListener('scroll',function(){
        document.querySelector('nav').classList.add('black');
    })
</script>

   
</body>
</html>