<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Poppins:wght@300&display=swap');


        body{
            background-image: url('/images/reviewback.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .cont{
            text-align: center;
            color: rgb(17, 131, 2);
            font-family: 'poppins';
            
            font-weight: bold;
        }

        .cont > a{
            display: block;
            text-decoration: none;
            border-radius: 5px;
            background-color: grey;
            transition: all 0.4s;
            color: aliceblue;
            width: 150px;
            height: 30px;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        .cont > a:hover{
            color: white;
            background-color: black;
           
        }

        .main{
            margin-top: 350px;
        }

        .hello{
            text-align: center;
        }

    </style>
</head>
<body><div class="main">
    <div class="cont" style="font-size: 1.5rem;">Thank You For Rating Us!</div>
    <div class="cont hello"><a href="/mypage2">Return Home</a></div></div>
</body>
</html>