<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="verification.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    <title>Document</title>
</head>
<body>
  <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 35vh;">
<div style="display: flex;align-items: center;justify-content: center;">
    <div class="newtons-cradle" >
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        <div class="newtons-cradle__dot"></div>
        </div>
    </div>
   <div class="content">
    <div class="cont">WE ARE WORKING ON DOCUMENT VERIFICATION<i class="fa-solid fa-badge-check"></i></div>
    <div class="cont"style="text-align: center;">PLEASE BE PATIENT! <i class="fa-solid fa-mug-saucer"></i></div>
   </div>
   <div class="back" style="text-align: center;"><a href="/frameyourmemories"><button>HOME</button></a></div>
</div> 
</body>
</html>