@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Poppins:wght@300&display=swap');


.box2  ul  li{
    display: inline;
    padding: 4px;
    /* background-color: aqua; */
    padding: 20px;
}

.box2 ul li a{
    text-decoration: none;
    color: rgb(205, 252, 125);
} 

.box2 ul li a:hover{
    border-bottom: 2px solid rgb(116, 253, 116);
}

*{
    /* color: black !important; */
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('./images/back6.jpg');
    height: 96vh;
    width: 95vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
/* .box2  ul  li:hover{
    background-color: lightblue;
} */
.mainheader{
    display: flex;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    /* color: rgb(126, 19, 227); */
    color: darkolivegreen;
    position: sticky;
    top: 0;
    /* background-color: lightcyan; */
    /* font-size: 1.3rem; */
    z-index: 1;
}
.maincon{
    position: relative;
    width: 100vw;
    /* height: 100vh;    */
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.mainheader .box1{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    
}
.mainheader .box2{
    margin-left: 18%;
    padding: 10px;
}

header{
    position: relative;
    width: 100%;
}

p{
    text-align: center;
    font-size: 1.8rem;
    /* color: white; */
    color: rgb(126, 19, 227);
     
    font-family: 'Times New Roman', Times, serif;
}

.success{
    color: rgb(97, 150, 5) !important;
    /* background-color: aliceblue; */
}

.servicecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.services{
    min-height: 150px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 80%;
    display: flex;
    box-shadow: 2px 4px 10px lightgrey;
    background: rgba(0,0,0,0.3);
    flex-wrap: wrap;
}
.services span{
    margin: 8px;
    padding:8px ;
    /* border: 1px solid lightgrey; */
    height: fit-content;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: darkslategrey;
    color: white;
    /* font-variant: small-caps; */
    font-weight: bold;
    font-size: medium;
}
.addservice{
    width: 400px;
    height: 500px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.servicecontainer>*{
    margin: 10px;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid darkslategrey;
    width: 50%;
    color: black;
    font-weight: bolder;
    font-size: medium;
    transition: all 0.2s linear;
}

input::placeholder{
    color: black;
}

input:focus{
    outline: none;
    border-bottom: 2px solid rgb(116, 253, 116);
}



.ava{
    width: 50%;
}

textarea{
    width: 50%;
    height: 50px;
    overflow-y: auto;
    background: transparent;
    border: 2px solid darkslategrey;
    color: black;
    outline: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: medium;
    transition: all 0.2s linear;
}

textarea::placeholder{
    color: black;
}

textarea:focus{
    outline: none;
    border: 2px solid rgb(116, 253, 116);
}

button{
    background-color: darkolivegreen;
    color: white;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
}

